name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ vars.BUILDS_JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ vars.BUILDS_JAVA_VERSION }}
          distribution: temurin

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew clean shadowJar

      - name: Get build artifact ready
        run: mkdir staging && cp build/libs/*.jar staging

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Preview Build (Do not report bugs for this build)
          path: staging
